.flex_container {
	position: relative;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-height: 100vh;
	width: 95%;
	margin: 0 auto;
}
.col {
	flex-direction: column;
	justify-content: space-between;
}
@media (min-width: 996px) {
	.flex_container {
		grid-area: 2 / 2 / 3 / 5;
		padding: 1.5em;
		padding-bottom: 150px;
		width: 100%;
		overflow: auto;
		justify-content: space-between;
	}
	.auth {
		justify-content: center;
	}
}
