.header {
	display: grid;
	grid-template-columns: 75px 1fr 200px;
	grid-template-rows: 30px repeat(2, 20px);
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	width: 100%;
	margin: 0.5em auto;
	margin-top: 0;
	.image {
		grid-area: 1 / 1 / 4 / 2;
	}
	.name {
		grid-area: 1 / 2 / 2 / 3;
		flex: 1;
		font-size: 3rem;
		font-weight: bold;
	}
	.id {
		grid-area: 2 / 2 / 3 / 3;
		font-size: 1.8rem;
	}
	.category {
		grid-area: 3 / 2 / 4 / 3;
		font-size: 1.6rem;
	}
}
@media (min-width: 996px) {
	.product-header {
		font-size: 2.4rem;
	}
}
