/// standard mode
$mainColor: #4169e1;
$mainColorBtnHover: #2b52c5;
$h2Color: #0b2676;
$darkWhite: #d4d4e0;
$Black: rgb(49, 46, 46);
$Red: rgb(221, 52, 46);
$RedHover: rgb(187, 37, 32);
$Green: rgb(36, 180, 36);
$GreenHover: rgb(29, 145, 29);
/// dark mode
