.form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	border: 1px solid silver;
	border-top: 10px solid $mainColor;
	border-radius: 10px;
	font-size: 2rem;
	background-color: #fff;
	box-shadow: 0px 0px 16px -5px rgba(66, 68, 90, 1);
	.logo {
		margin-bottom: 0.5em;
	}
	.header {
		width: 100%;
		margin-bottom: 0.25em;
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
	}
	.section-title {
		font-size: 2rem;
		font-weight: bold;
	}
	.form-error {
		padding: 0.5em;
		margin-top: 0.5em;
		border: 2px solid red;
		border-radius: 10px;
		max-width: 300px;
		background-color: rgba(230, 62, 62, 0.465);
		text-align: center;
	}
	.checkboxes-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 600px;
	}
	.form-block {
		margin: 0.75em;
	}
	.details-input {
		padding: 0;
		width: 100%;
	}
	.form-row {
		input {
			font-size: 1.2rem;
			flex: unset;
			width: unset;
		}
	}
	.form-select {
		select,
		option {
			font-size: 1.2rem;
			flex: unset;
			width: unset;
		}
	}
	.form-row,
	.form-select {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0.5em 0;
		width: 100%;
		max-width: 220px;
		label {
			font-size: 1.4rem;
			margin-left: 0.5em;
			margin-top: 0.25em;
		}
	}
	.row-label {
		flex-direction: row;
		label {
			margin-right: 0.5em;
		}
	}
	p {
		text-align: center;
	}
	h1 {
		text-align: center;
	}
	.checkbox {
		display: flex;
		padding: 0.25em;
		margin: 0.25em;
		border: 1px solid rgb(156, 156, 156);
		border-radius: 5px;
		font-size: 1.4rem;
		p {
			margin-right: 0.5em;
		}
	}
}
.form.form-drawer {
	flex-direction: column;
	justify-content: start;
	align-items: end;
	width: 100%;
	padding: 0.5em;
	border: transparent;
	box-shadow: unset;
	button {
		max-width: 300px;
		font-size: 1.8rem;
	}
}
@media (min-width: 996px) {
	.form {
		.form-row,
		.form-select {
			max-width: 230px;
		}
	}
	.form.form-drawer {
		height: 100%;
		button {
			max-width: 300px;
		}
	}
}
